.modal{
  height: 100vh;
  width: 100vw;
  //background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;

  @media screen and (max-width: 480px) {
    min-height: 454px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    min-height: 662px;
  }
  @media screen and (min-width: 769px)  and (max-width: 1368px) {
    min-height: 486px;
  }
  @media screen and (min-width: 1369px) and (max-width: 1920px) {
    min-height: 592px;
  }
  @media screen and (min-width: 1921px) and (max-width: 2559px) {
    min-height: 810.51px;
  }
  @media screen and (min-width: 2560px) {
    min-height: 1046px;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .content{
    &.active {
      transform: scale(1);
    }
    background-image: url("../../assets/img/popup/borderLiness.png");
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.5);
    transition: 0.4s all;
    @media screen and (max-width: 480px) {
      background-image: url("../../assets/img/popup/borderLinesReversed.png");
      height: 454px;
      width: 319px;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      background-image: url("../../assets/img/popup/borderLinesReversed.png");
      height: 662px;
      width: 463.59px;
    }
    @media screen and (min-width: 769px)  and (max-width: 1368px) {
      width: 694px;
      height: 486px;
    }
    @media screen and (min-width: 1369px) and (max-width: 1920px) {
      width: 846px;
      height: 592px;
    }
    @media screen and (min-width: 1921px) and (max-width: 2560px) {
      width: 1158.51px;
      height: 810.51px;
    }
    @media screen and (min-width: 2561px) {
      width: 1497px;
      height: 1046px;
    }
    .info {
      width: 96%;
      height: 96%;
      background-image: url("../../assets/img/popup/backgroundTexture.png");
      background-color: #FCEFDE;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: hidden;

      @media screen and (max-width: 480px) {
      }
      @media screen and (min-width: 481px) and (max-width: 768px) {
      }
      @media screen and (min-width: 769px)  and (max-width: 1368px) {
        width: 97%;
        height: 97%;

      }
      @media screen and (min-width: 1369px) and (max-width: 1920px) {
        width: 97%;
        height: 96.5%;
      }

      @media screen and (min-width: 2561px) {
        width: 96.5%;
        height: 96.5%;
      }
      .littleImg{
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/img/popup/nft.png");
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        overflow: hidden;
      }
      &-content{
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        height: 100%;

        //.bottomPerson{
        //  position: absolute;
        //  background-image: url("../../assets/img/popup/bottomPerson.png");
        //  width: 84.87px;
        //  height: 100.04px;
        //  top: 83%;
        //  left: 85%;
        //  background-size: contain;
        //  background-repeat: no-repeat;
        //  z-index: -1;
        //}
        .image{
          @media screen and (max-width: 480px) {
            display: none;
          }
          @media screen and (min-width: 481px) and (max-width: 768px) {
            position: absolute;
            margin-top: 90%;
            overflow: hidden;
            margin-left: 45%;
            //display: none;
          }
          height: 100%;
          width: 100%;
          &-bg{
            background-image: url("../../assets/img/popup/openMeBg.png");
            margin-top: 12%;
            left: 7%;
            position: absolute;
            transition: all 0.3s ease;
            top: 0;
            width: 32%;
            height: 62%;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
            @media screen and (min-width: 481px) and (max-width: 768px) {
              transform: rotate(-6.15deg);
            }
          }
          &-card{
            //background-image: url("../../assets/img/popup/openMeBg.png");
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 14%;
            margin-top: 32%;
            width: 60%;
            height: 60%;
            transition: all 0.3s ease;
            @media screen and (min-width: 481px) and (max-width: 768px) {
              position: absolute;
              width: 35%;
              margin-top: 10%;
              margin-left: 5%;
              transform: rotate(8.15deg);
            }
            &:hover{
              .image-card-back{
                //transform: rotateY(0deg);
                transform: rotate(-2.4deg);

              }
              .image-card-front{
                transform: rotateY(180deg);

              }
            }
            &-front{
              transition: all 0.3s ease;
              width: 100%;
              height: 100%;
              background-image: url("../../assets/img/popup/openMe.png");
              background-size: contain;
              background-repeat: no-repeat;
              backface-visibility: hidden;

            }
            &-back{
              margin-top: 16%;
              position: absolute;
              transition: all 0.3s ease;
              top: 0;
              width: 31%;
              height: 57%;
              background-image: url("../../assets/img/popup/openedMe.png");
              background-size: contain;
              background-repeat: no-repeat;
              transform: rotateY(180deg);
              backface-visibility: hidden;
              @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 100%;
                margin-top: 0;
              }

            }
            .day1{
              background-image: url("../../assets/img/popup/nfts/d1.PNG") !important;
            }
            .day2{
              background-image: url("../../assets/img/popup/nfts/d2.jpg") !important;
            }
            .day3{
              background-image: url("../../assets/img/popup/nfts/d4.jpg") !important;
            }
            .day4{
              background-image: url("../../assets/img/popup/nfts/d5.jpg") !important;
            }
            .day5{
              background-image: url("../../assets/img/popup/nfts/d3.jpg") !important;
            }
          }
          &-sticker{
            background-image: url("../../assets/img/popup/openMeSticker.png");
            margin-top: 51%;
            left: 5%;
            position: absolute;
            transition: all 0.3s ease;
            top: 0;
            width: 10%;
            height: 10% ;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;

            @media screen and (min-width: 481px) and (max-width: 768px) {
              margin-top: 10%;
              width: 15%;
              left: 37%;
              transform: rotate(10deg);
            }
          }
        }
        .line{
          position: absolute;
          left: 45%;
          //right: 50.51%;
          top: 6%;
          bottom: 6%;
          border: 0.75px solid rgba(93, 45, 23, 0.2);
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        .message{
          width: 100%;
          height: 100%;
          //background-color: red;
          margin-right:3%;
          padding-top:4%;
          @media screen and (max-width: 480px){
            margin-left: 25px;
            margin-right: 25px;
            padding-top: 21px;
          }
          @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-left: 41px;
            margin-right: 41px;
            padding-top: 33px;
          }
          @media screen and (min-width: 1368px) and (max-width: 1919px) {
            margin-bottom: 25px;
            padding-left: 10px;

          }
          .br{
            margin-top: 10px;
            margin-bottom: 10px;

            @media screen and (max-width: 480px) {
              margin-bottom: 15px;
            }
            @media screen and (min-width: 481px) and (max-width: 768px) {
              margin-bottom: 15px;
            }
            @media screen and (min-width: 769px)  and (max-width: 1368px) {
              margin-bottom: 20px;
            }
            @media screen and (min-width: 1368px) and (max-width: 1919px) {
              margin-bottom: 15px;
            }
            @media screen and (min-width: 1920px) and (max-width: 2560px) {
              margin-bottom: 15px;
            }
            @media screen and (min-width: 1921px) and (max-width: 2560px) {
              margin-bottom: 40px;
            }
            @media screen and (min-width: 2561px) {
              margin-bottom: 40px;
            }
          }
          .sender {
            margin-bottom: 18px;
            height: 50px;
            width: 100%;
            display: flex;

            @media screen and (max-width: 480px) {
              margin-bottom: 8px;
            }
            @media screen and (min-width: 1369px)and (max-width: 1919px) {
              margin-bottom: 40px;
            }
            @media screen and (min-width: 2561px) {
              margin-top: 50px;
            }
            &-mark{
              width: 100px;
              background-image: url("../../assets/img/popup/mark.png");
              background-size: contain;
              background-repeat: no-repeat;
              //transition: 0.3s ease;
              @media screen and (max-width: 480px) {
                background-image: url("../../assets/img/popup/markSmallest.png");

              }
              @media screen and (min-width: 1921px) and (max-width: 2560px) {
                width: 140px;
                height: 73px;
              }
              @media screen and (min-width: 2561px) {
                width: 240px;
                height: 103px;
              }
            }
            @media screen and (max-width: 480px) {
              .active {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url("../../assets/img/popup/nfts/d4.jpg");
              }
            }
            &-text{
              width: 80%;
              margin-right: 15px;
              &-title{
                font-family: 'Montserrat-Medium', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: rgba(93, 45, 23, 0.3);
                padding-bottom: 10px;

                @media screen and (max-width: 480px) {
                  font-weight: 500;
                  font-size: 8px;
                  line-height: 10px;
                }
                @media screen and (min-width: 1921px) and (max-width: 2560px) {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 25px;
                }
                @media screen and (min-width: 2561px) {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  margin-bottom: 20px;
                }
              }
              &-name{
                color: #D55644;
                font-family: 'Gropled';
                @media screen and (max-width: 480px) {
                  padding-top: 10px;
                  font-weight: 700;
                  font-size: 10px;
                  line-height: 2px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                  font-size: 12px;
                }
                @media screen and (min-width: 769px)  and (max-width: 1368px) {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 20px;
                }
                @media screen and (min-width: 1921px) and (max-width: 2560px) {
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 4px;
                }
                @media screen and (min-width: 2561px) {
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 5px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;

                }
              }
              &-line{
                border: 0.75px solid rgba(93, 45, 23, 0.2);
                width: 100%;

                @media screen and (max-width: 480px) {
                  width: 90%;
                  border: 0.35px solid rgba(93, 45, 23, 0.2);
                  margin-top: 7px;
                }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                  width: 90%;
                }
                @media screen and (min-width: 1921px) and (max-width: 2560px) {
                  margin-top: 10px;
                  width: 60%;
                }
                @media screen and (min-width: 2561px) {
                  margin-top: 15px;
                  width: 80%;

                }
              }
            }
          }
          .hohoho {
            background-image: url("../../assets/img/popup/hohoho.png");
            width: 123px;
            height: 19px;

            margin-bottom: 20px;

            @media screen and (max-width: 480px){
              display: none;
            }
            @media screen and (min-width: 769px)  and (max-width: 1368px) {
              display: none;
            }
            @media screen and (min-width: 1368px)and (max-width: 1919px) {
              display: none;
            }
            @media screen and (min-width: 1921px) and (max-width: 2560px) {
              margin-top: 50px;
              margin-bottom: 30px;
            }
            @media screen and (min-width: 2561px) {
              margin-top: 70px;
              width: 180px;
              height: 40px;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          span {
            font-family: 'Montserrat-Medium', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 26px;
            color: #541D18;
            padding-bottom: 1px;
            @media screen and (max-width: 480px) {
              font-weight: 500;
              font-size: 10px;
              line-height: 20px;
            }
            @media screen and (min-width: 481px) and (max-width: 768px) {
              font-weight: 300;
              font-size: 14px;
              line-height: 20px;
            }
            @media screen and (min-width: 769px)  and (max-width: 1368px) {
              font-weight: 500;
              font-size: 12px;
              line-height: 20px;
            }
            @media screen and (min-width: 1369px)and (max-width: 1919px) {
              font-weight: 500;
              font-size: 14px;
              line-height: 26px;
            }
            @media screen and (min-width: 1920px) and (max-width: 2560px) {
              font-weight: 500;
              font-size: 14px;
              line-height: 32px;
            }
            @media screen and (min-width: 1921px) and (max-width: 2560px) {
              font-weight: 100;
              font-size: 19px;
              line-height: 32px;
            }
            @media screen and (min-width: 2561px) {
              font-weight: 100;
              font-size: 26px;
              line-height: 36px;
            }
          }
          .underline {
            border: 0.75px solid rgba(93, 45, 23, 0.2);
            width: 100%;
            height: 0.01px;
            background-color: rgba(93, 45, 23, 0.2);
            @media screen and (max-width: 480px) {
              margin-top: -2px;
              border: 0.15px solid rgba(93, 45, 23, 0.2);
              width: 96%;
            }
            @media screen and (min-width: 481px) and (max-width: 768px) {
              margin-top: 1px;
              border: 0.5px solid rgba(93, 45, 23, 0.2);
              width: 96%;

            }
            @media screen and (min-width: 769px)  and (max-width: 1368px) {
              margin-top: -2px;
              border: 0.5px solid rgba(93, 45, 23, 0.2);
              width: 93%;
            }
            @media screen and (min-width: 1369px)and (max-width: 1919px) {
              width: 90%;
            }
            @media screen and (min-width: 1920px) and (max-width: 2559px) {
              margin-top: -2px;
              width: 90%;
            }
            @media screen and (min-width: 1921px) and (max-width: 2560px) {
              margin-top: 0;

            }
            @media screen and (min-width: 2561px) {
              margin-top: 3px;
              width: 93%;
            }
          }
          .button{
            width: 250px;
            height: 44px;
            border: 1.5px solid rgba(93, 45, 23, 0.2);
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            transition: 0.2s ease;

            @media screen and (max-width: 480px) {
              background: red;
              border: none;
            }
            @media screen and (min-width: 481px) and (max-width: 768px) {
              width: 148px;
              height: 58px;
              padding-left: 16px;
              padding-right: 16px;
              margin-top: 59px;
            }
            @media screen and (min-width: 769px)  and (max-width: 1367px) {
              margin-top: 35px;
            }
            @media screen and (min-width: 1368px) and (max-width: 1919px) {
              margin-top: 50px;
            }
            @media screen and (min-width: 1920px) and (max-width: 2560px) {
              width: 250px;
              height: 54px;
              margin-top: 15px;
            }
            @media screen and (min-width: 1921px) and (max-width: 2560px) {
              width: 330px;
              height: 55px;
              margin-top: 45px;
            }
            @media screen and (min-width: 2561px) {
              margin-top: 50px;
              width: 385px;
              height: 80px;
            }
            &-text{
              @apply my-auto;
              font-family: 'Gropled', sans-serif;
              font-weight: 700;
              font-size: 14px;
              line-height: 3px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #541D18;
              @media screen and (max-width: 480px) {
                color: #F8EBDB;
                font-weight: 700;
                font-size: 12px;
                line-height: 3px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
              }
              @media screen and (min-width: 481px) and (max-width: 768px) {
                line-height: 16px;
                font-size: 12px;
              }
              @media screen and (min-width: 1921px) and (max-width: 2560px) {
                font-weight: 700;
                font-size: 18px;
                line-height: 4px;
              }
              @media screen and (min-width: 2561px) {
                font-weight: 700;
                font-size: 22px;
                line-height: 5px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
              }
            }
            &-arrow{
              height: 30px;
              width: 30px;
              margin-top: auto;
              margin-bottom: auto;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("../../assets/img/popup/arrowBtn.png");

              @media screen and (max-width: 480px) {
                background-image: url("../../assets/img/popup/arrowBtnHover.png");
              }
              @media screen and (min-width: 481px) and (max-width: 768px) {
                width: 45px;
              }
              @media screen and (min-width: 1921px) and (max-width: 2560px) {
                width: 35px;
                height: 35px;
              }
              @media screen and (min-width: 2561px) {
                width: 45px;
                height: 45px;
              }
            }

            &:hover{
              background: red;
              .button-text{
                color: #F8EBDB;
              }
              .button-arrow{
                background-image: url("../../assets/img/popup/arrowBtnHover.png");
              }
            }
          }
        }
      }
      .person{
        position: absolute;
        background-image: url("../../assets/img/popup/bottomPerson.png");
        background-repeat: no-repeat;
        width: 90px;
        height: 76px;
        bottom: -3%;
        right: 3%;
        @media screen and (max-width: 480px) {
          display: none;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
          right: 80%;
        }
        @media screen and (min-width: 2561px) {
          bottom:2%;
          right: 10%;
          scale: (2);
        }
      }
    }
  }
}